.header {
    position: sticky;
    top: 0px;
    padding: 0px;
    /* margin: 20px; */
}

.nav {
    background-color: rgb(46, 43, 17);
    color: azure;
    padding: 9px;
}

.nav ul {
    margin-left: 35%;
    padding: 10px;
}

.nav li {
    display: inline;
    padding: 4px;
}

.nav a {
    text-decoration: none;
    color: rgb(225, 176, 152);
    font-size: larger;
    font-weight: bolder;
}

.nav a:hover {
    color: rgb(160, 97, 215);
}

.sidlo:hover {
    transform: scale(0.9);
}


@media screen and (max-width:480px) {

    .header {
        width: 100%;
        position: sticky;
        top: 0px;
        padding: 0px;
        /* margin: 20px; */
    }

    .nav {
        background-color: rgb(49, 67, 54);
        color: azure;
        padding: 9px;
        width: 100%;
    }

    .nav ul {
        margin-left: 10%;
        padding: 2px;
        margin-top: 15px;
    }

    .nav a {
        text-decoration: none;
        color: rgb(205, 242, 255);
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}



@media screen and (max-width:600px) {

    .header {
        width: 100%;
        position: sticky;
        top: 0px;
        padding: 0px;
        /* margin: 20px; */
    }

    .nav {
        background-color: rgb(49, 67, 54);
        color: azure;
        padding: 9px;
        width: 100%;
    }

    .nav ul {
        margin-left: 10%;
        padding: 2px;
        margin-top: 15px;
    }

    .nav a {
        text-decoration: none;
        color: rgb(205, 242, 255);
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.feat {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.trav h3 {
    /* background-image: url(../images/tra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: rgb(26, 6, 6);
}


.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box1 {
    width: 300px;
    height: 570px;
    background-image: url(../images/b1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    border-radius: 10px;
}

.word {
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(45px);
    text-align: justify;
    border-radius: 50px;
}

.box2 {
    width: 300px;
    height: 570px;
    background-image: url(../images/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    border-radius: 10px;

}

.box3 {
    width: 300px;
    height: 570px;
    background-image: url(../images/b3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    border-radius: 10px;
}

.box4 {
    width: 300px;
    height: 570px;
    background-image: url(../images/b4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    border-radius: 10px;
}

/* .box5 {
    width: 300px;
    height: 500px;
    background-image: url(../images/b5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    border-radius: 10px;
    animation-name: poe;
    animation-duration: 30s;
} */

@media screen and (max-width:480px) {
    .box1 {
        width: 100%;
        margin: 10px;
    }

    .word {
        padding: 20px;
        background-color: transparent;
        backdrop-filter: blur(45px);
        text-align: center;
        border-radius: 50px;

    }

    .box2 {
        width: 100%;
        margin: 10px;

    }

    .box3 {
        width: 100%;
        margin: 10px;
    }

    .box4 {
        width: 100%;
        margin: 10px;
    }

    .feat {
        width: 100%;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 50px;
    }

    .trav h3 {
        /* background-image: url(../images/tra.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        width: 100%;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        color: rgb(16, 5, 5);
    }

    .article {
        width: 100%;
    }

}



@media screen and (max-width:600px) {
    .box1 {
        width: 100%;
        margin: 10px;
    }

    .word {
        padding: 20px;
        background-color: transparent;
        backdrop-filter: blur(45px);
        text-align: center;
        border-radius: 50px;

    }

    .box2 {
        width: 100%;
        margin: 10px;

    }

    .box3 {
        width: 100%;
        margin: 10px;
    }

    .box4 {
        width: 100%;
        margin: 10px;
    }

    .feat {
        width: 100%;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
    }

    .trav h3 {
        /* background-image: url(../images/tra.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        width: 100%;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2px;
        color: rgb(63, 21, 21);
    }

    .article {
        width: 100%;
    }

}

.o {
    width: 100%;
    height: 100vh;
    display: flex;
}

.l img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.con {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(141, 229, 86);
    margin-top: 150px;
    font-weight: bolder;
}

.con h1 {
    font-size: 80px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.l h1::first-letter {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    color: rgb(29, 29, 255);
    font-size: 180px;
}

@media screen and (max-width:480px) {

    .o {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .l img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .con {
        position: relative;
        z-index: 1;
        text-align: center;
        color: rgb(141, 229, 86);
        margin-top: 20px;
        font-weight: bolder;
    }

    .con h1 {
        font-size: 40px;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    .con p {
        font-size: 10px;
        color: rgb(195, 216, 169);
    }

    .con button {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .l h1::first-letter {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: auto;
        color: rgb(29, 29, 255);
        font-size: 80px;
    }

}

@media screen and (max-width:600px) {

    .o {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .l img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .con {
        position: relative;
        z-index: 1;
        text-align: center;
        color: rgb(141, 229, 86);
        margin-top: 20px;
        font-weight: bolder;
    }

    .con h1 {
        font-size: 40px;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    .con p {
        font-size: 10px;
        color: rgb(195, 216, 169);
    }

    .con button {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .l h1::first-letter {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: auto;
        color: rgb(29, 29, 255);
        font-size: 80px;
    }

}

.article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article img:hover {
    box-shadow: 0px 0px 30px 5px rgb(198, 138, 190);
}


/* About */
.side img {
    border-radius: 100px;
}

.side .conte {
    width: 50%;
    float: right;
}

.side .conte h1 {
    margin-right: 130px;
    font-weight: bolder;
    text-decoration: underline;
}

.side .conte .one {
    margin-right: 180px;
    font-size: 25px;
}

.side .conte .two {
    margin-right: 180px;
    font-size: 18px;
}

.side .conte .three {
    margin-right: 180px;
    font-size: 20px;
}

@media screen and (max-width:600px) {

    .side img {
        width: 60%;
        border-radius: 60px;
        margin-left: 25%;
    }

    .side .conte {
        margin-top: 80px;
        width: 100%;
        float: none;
    }

    .side .conte h1 {
        margin-right: 130px;
        width: 100%;
        font-weight: bolder;
        text-decoration: underline;
    }

    .side .conte .one {
        margin-right: 180px;
        font-size: 15px;
    }

    .side .conte .two {
        margin-right: 180px;
        font-size: 12px;
    }

    .side .conte .three {
        margin-right: 180px;
        font-size: 14px;
    }


}



.aside2 {
    background-image: url(../images/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    color: rgb(63, 21, 21);
}

.aside2 #name {
    width: 280px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.aside2 #email {
    margin-left: 18px;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.aside2 #sub {
    width: 580px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

.aside2 #msg {
    width: 580px;
    height: 170px;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width:600px) {

    .call {
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        color: rgb(63, 21, 21);
    }

    .aside2 #name {
        width: 60%;
        height: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .aside2 #email {
        margin-top: 18px;
        margin-left: 0px;
        width: 60%;
        height: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .aside2 #sub {
        width: 80%;
        height: 70px;
        border-radius: 10px;
        text-align: center;
    }

    .aside2 #msg {
        width: 80%;
        height: 170px;
        border-radius: 10px;
        text-align: center;
    }

}


.soc {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.soc img:hover {
    transform: translate(0px, -9px);

}

.footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
}


/* Bali */

.balihead {
    background-image: url(../images/bali.avif);
    width: 100%;
    height: 80vh;
    border-radius: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.balicon h1 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    padding-top: 10px;
    color: rgb(176, 251, 14);
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.balicon h1::first-letter {
    color: blue;
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.balicon p {
    padding: 40px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(233, 77, 163);
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.baliarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.baliarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.baliarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    width:1260px;
    height:615px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.baliarticle .baliaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

@media screen and (max-width:600px) 
{
    .balicon h1 {
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        padding-top: 10px;
        color: rgb(176, 251, 14);
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    
    .balicon h1::first-letter {
        color: blue;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .balicon p {
        padding: 40px;
        font-weight: 900;
        font-size: 12px;
        color: rgb(233, 77, 163);
        background-color: transparent;
        backdrop-filter: blur(2px);
    }
    .baliarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.baliarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.baliarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.baliarticle .baliaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

.baliarticle h2 {
    text-decoration-line: underline;
    color: black;
    /* padding-left: 60px; */
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.baliarticle h4 {
    
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.baliarticle p {
    padding: 25px;
    color: rgb(61, 2, 92);
    font-weight: 700;
    font-size: 12px;
}

.baliarticle  iframe {
    border-radius: 30px;
    width:193px;
    height: 200px;
    box-shadow: 0px 10px 20px 6px blue;
}

.baliarticle .baliaside {
    display: block;
    margin-top: 70px;
    padding: 2px;
}
.baliarticle .baliaside img {
    width: 100%;
    height: 300px;
    padding: 10px;
}
    
}

/* Thailand */

.thalihead {
    background-image: url(../images/thai.webp);
    width: 100%;
    height: 80vh;
    border-radius: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thalicon h1 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    padding-top: 10px;
    color: rgb(176, 251, 14);
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.thalicon h1::first-letter {
    color: blue;
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.thalicon p {
    padding: 40px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(54, 244, 219);
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.thaliarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thaliarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.thaliarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    width:1260px;
    height:615px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.thaliarticle .thaliaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

@media screen and (max-width:600px) 
{
    .thalicon h1 {
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        padding-top: 10px;
        color: rgb(176, 251, 14);
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    
    .thalicon h1::first-letter {
        color: blue;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .thalicon p {
        padding: 40px;
        font-weight: 900;
        font-size: 12px;
        color: rgb(27, 246, 198);
        background-color: transparent;
        backdrop-filter: blur(2px);
    }
    .thaliarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thaliarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.thaliarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.thaliarticle .thaliaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

.thaliarticle h2 {
    text-decoration-line: underline;
    color: black;
    /* padding-left: 60px; */
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.thaliarticle h4 {
    
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thaliarticle p {
    padding: 25px;
    color: rgb(61, 2, 92);
    font-weight: 700;
    font-size: 12px;
}

.thaliarticle  iframe {
    border-radius: 30px;
    width:193px;
    height: 200px;
    box-shadow: 0px 10px 20px 6px blue;
}

.thaliarticle .thaliaside {
    display: block;
    margin-top: 70px;
    padding: 2px;
}
.thaliarticle .thaliaside img {
    width: 100%;
    height: 300px;
    padding: 10px;
}
    
}

/* Chennai */

.chnhead {
    background-image: url(../images/ch.jpg);
    width: 100%;
    height: 80vh;
    border-radius: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chncon h1 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    padding-top: 10px;
    color: rgb(176, 251, 14);
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.chncon h1::first-letter {
    color: blue;
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.chncon p {
    padding: 40px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(36, 34, 33);
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.chnarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chnarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.chnarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    width:1260px;
    height:615px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.chnarticle .chnaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

@media screen and (max-width:600px) 
{
    .chncon h1 {
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        padding-top: 10px;
        color: rgb(176, 251, 14);
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    
    .chncon h1::first-letter {
        color: blue;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .chncon p {
        padding: 40px;
        font-weight: 900;
        font-size: 12px;
        color: rgb(185, 203, 124);
        background-color: transparent;
        backdrop-filter: blur(2px);
    }
    .chnarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chnarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.chnarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.chnarticle .chnaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

.chnarticle h2 {
    text-decoration-line: underline;
    color: black;
    /* padding-left: 60px; */
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chnarticle h4 {
    
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chnarticle p {
    padding: 25px;
    color: rgb(61, 2, 92);
    font-weight: 700;
    font-size: 12px;
}

.chnarticle  iframe {
    border-radius: 30px;
    width:193px;
    height: 200px;
    box-shadow: 0px 10px 20px 6px blue;
}

.chnarticle .chnaside {
    display: block;
    margin-top: 70px;
    padding: 2px;
}
.chnarticle .chnaside img {
    width: 100%;
    height: 300px;
    padding: 10px;
}
    
}

/* Paris */


.pahead {
    background-image: url(../images/pa.avif);
    width: 100%;
    height: 80vh;
    border-radius: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pacon h1 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    padding-top: 10px;
    color: rgb(176, 251, 14);
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.pacon h1::first-letter {
    color: blue;
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.pacon p {
    padding: 40px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(36, 34, 33);
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.paarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.paarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    width:1260px;
    height:615px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.paarticle .paaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

@media screen and (max-width:600px) 
{
    .pacon h1 {
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        padding-top: 10px;
        color: rgb(176, 251, 14);
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    
    .pacon h1::first-letter {
        color: blue;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .pacon p {
        padding: 40px;
        font-weight: 900;
        font-size: 12px;
        color: rgb(45, 50, 29);
        background-color: transparent;
        backdrop-filter: blur(2px);
    }
    .paarticle h2 {
    text-decoration-line: underline;
    color: black;
    padding-left: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paarticle p {
    padding: 30px;
    color: rgb(61, 2, 92);
    font-weight: 700;
}

.paarticle  iframe {
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 10px 40px 10px blue;
    
}

.paarticle .paaside {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    padding: 2px;
}

.paarticle h2 {
    text-decoration-line: underline;
    color: black;
    /* padding-left: 60px; */
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paarticle h4 {
    
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paarticle p {
    padding: 25px;
    color: rgb(61, 2, 92);
    font-weight: 700;
    font-size: 12px;
}

.paarticle  iframe {
    border-radius: 30px;
    width:193px;
    height: 200px;
    box-shadow: 0px 10px 20px 6px blue;
}

.paarticle .paaside {
    display: block;
    margin-top: 70px;
    padding: 2px;
}
.paarticle .paaside img {
    width: 100%;
    height: 300px;
    padding: 10px;
}
    
}